*{
	outline: 1px solid red;
}
div.objetivo-fondo{
	background-image: url(fondo.jpg) no-repeat;
	background-size: cover;
}
.container{
	margin-top: 100px;
}
h1{
	color: blue;
	font-family: 'Fredoka One', cursive;
}
p{
	margin-top: 30px;
}
h2{
	margin-top: 150px;
}
label{
	color: red;
	font-family: 'Comfortaa',cursive; 
}